/* dashboard.css */
.table th,
.table td {
  vertical-align: middle;
}

.table th {
  background-color: #343a40;
  color: white;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.badge {
  font-size: 0.9rem;
  padding: 0.4em 0.6em;
}

.file-upload-cell {
  min-width: 250px;
}

input[type="file"]::-webkit-file-upload-button {
  background: #007bff;
  color: white;
  border: none;
  padding: 0.3em 0.6em;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(42, 40, 40);
}